<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1>Nombre y apellidos</h1>
    <p>Francisco Frías Rodríguez</p>
    <img src="http://cdnp.tscps.com/images/usuarios/l/426431.jpg/150x150cut/">
  </body>
</html>
